.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  md-card {
    margin: 5px;
    width: 20%;
    min-width: 250px;
  }

  md-card-title {
    font-size: 18px;
    font-weight: bold;
  }

  .mat-icon.green {
    color: green;
  }
}
